<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rxwx.user.mapper.UserMapper">


	<select id="findUserList" resultType="com.rxwx.model.User">
		select * from users
	</select>


	<select id="findByUsername" parameterType="java.lang.String" resultType="com.rxwx.model.User">
		select * from users where username = #{username}
	</select>

</mapper>
